aiohttp==3.9.2
fastapi==0.115.8
joblib==1.4.2
numpy==2.2.2
pandas==2.2.3
python-dotenv==1.0.1
scikit_learn==1.6.1
slowapi==0.1.9
torch==2.5.1
huggingface-hub==0.28.1
transformers==4.36.0
uvicorn
pydantic[email]
